.diy-main-content {
	overflow: hidden;
}
.top-header {
	height: 56px;
	background-color: #273043;
	color: rgba(255, 255, 255, 0.9);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px;
}
.main-contain {
	// background-color: red;
	height: calc(100vh - 56px);
	display: flex;
	.left-box {
		// background-color: green;
		// min-width: 496px;
		width: 17%;
		height: 100%;
	}
	.middle-box {
		// background-color: yellow;
		width: 55%;
		height: 100%;
		display: flex;
	}
	.right-box {
		background-color: #fff;
		width: 28%;
		height: 100%;
		border-left: 1px solid var(--borderColor);
	}
}

.phone-contain::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.phone-contain::-webkit-scrollbar-thumb {
	width: 6px;
	background: #d9e0ee;
	border-radius: 4px;
}
.phone-contain::-webkit-scrollbar-track {
	background-color: #fbfcff;
}
.phone-contain {
	margin: 40px auto 20px;
	overflow-y: auto;
	box-shadow: 0px 0px 20px rgba(36, 37, 38, 0.08);
	min-height: 731px;
	height: 731px;
	.phone-content {
		min-height: 731px;
		width: 375px;
		max-width: 375px;
		position: relative;
		.phone-top{
			height: 64px;
			background: #fff;
			background-size: 100% auto;
			text-align: center;
			cursor: pointer;
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
			position: relative;
			height: -webkit-fill-available;
			.phone-t{
				display: flex;
				flex-direction: column;
				width: 375px;
				overflow: hidden;
				.custom-navbar{
				    width: 375px;
				    height: 64px;
				}
				.top_1{
				    width: 375px;
				    height: 20px;
				    position: absolute;
				    top: 0;
				    left: 0;
				    z-index: 0;
				}
				.top_2 {
				    position: absolute;
				    right: 7px;
				    width: 87px;
				    height: 32px;
				    bottom: 6px;
				}
			}
			.page-title{
				position: absolute;
				z-index: 100;
				font-family: PingFang SC;
				font-style: normal;
				font-weight: 600;
				font-size: 16px;
				line-height: 25px;
				display: flex;
				align-items: center;
				text-align: center;
				left: 50%;
				transform: translate(-50%);
				bottom: 10px;
				color: #000;
			}
		}
		.phone-bottom{
			background-color: red;
			height: 50px;
			width: 100%;
			position: absolute;
			bottom: 0;
			display: flex;
			justify-content: space-around;
			align-items: center;
			.item{
				display: flex;
				flex-direction: column;
				align-items: center;
				.icon{
					width: 25px;height: 25px;
				}
				.text{
					margin-top: 2px;
				}
			}
			
		}
	}
}
.right-box{
	.op-title{
		height: 50px;
		display: flex;
		// align-content: center;
		border-bottom: 1px solid var(--borderColor);
		font-size: 18px;
		font-weight: bold;
		i{
			color: var(--color);
			height: 50px;
			line-height: 50px;
			margin-left: 10px;
		}
		span{
			margin-left: 5px;
			height: 50px;
			line-height: 50px;
		}
	}
	.op-panel::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	.op-panel::-webkit-scrollbar-thumb {
		width: 6px;
		background: #d9e0ee;
		border-radius: 4px;
	}
	.op-panel::-webkit-scrollbar-track {
		background-color: #fbfcff;
	}
	.op-panel{
		padding: 10px;
		overflow: auto;
		height: calc(100vh - 106px);
		::v-deep .el-collapse{
			border:0;
		}
		::v-deep .el-collapse-item__header{
			font-weight: bold;
			height: 58px;
			line-height: 58px;
		}
	}
}
.box-item{
	background-color: #F4F6F8;
	padding: 20px;
	width: 100%;
	height: auto;
	border-radius: 4px;
	border: 1px solid #E9EDEF;
	margin: 10px 0;
	position: relative;
	
}
.box-item:hover .el-icon-circle-close{
	display: block;
}
.el-icon-circle-close{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 16px;
	color: red;
	display: none;
}
.item-img{
	width: 50px;
	height: 50px;
	background-color: #fff;
	padding: 2px;
	margin: 4px;
	border-radius: 5px;
	border: 1px solid var(--borderColor);
}
.el-form-item{
	margin-bottom: 10px !important;
}